<div class="tituloListas">
    <h1 class="titulo-principal">Novo Cliente</h1>
</div>
<form>
    <mat-card>
        <mat-card-content>
            <mat-form-field class="input-item">
                <input matInput type="text" placeholder="nome" name="nome" [(ngModel)]="cliente.nome">
            </mat-form-field>
            <mat-form-field class="input-item">
                <input matInput type="text" placeholder="idade" name="idade" [(ngModel)]="cliente.idade">
            </mat-form-field>
            <mat-form-field class="input-item">
                <input matInput type="text" placeholder="Saldo" name="saldoCarteira" [(ngModel)]="cliente.saldoCarteira">
            </mat-form-field>
            <mat-form-field class="input-item">
                <mat-label for="usuario">Usuário</mat-label>
                <select matNativeControl id="usuario" name="usuario" [(ngModel)]="cliente.usuario.codigo">
                  <option *ngFor="let usuario of usuarios" [value]="usuario.codigo">
                    {{usuario.email}}
                  </option>
                </select>
            </mat-form-field>
        
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="btnSalvar" (click)="salvarCliente()" color="primary">Salvar</button>
            <button mat-raised-button class="btnCancelar" routerLink="/admin/clientes">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</form>