<h2 class="titulo-admin">Seja bem vindo, Admin!</h2>

<h3 class="titulo-menu">Menu</h3>
<ul class="menu-list">
    <li class="menu-item" routerLink="/admin/viagens">
        <a class="menu-link">
            <mat-icon class="material-icons-outlined">airplane_ticket</mat-icon>Viagens
        </a>
    </li>

    <li class="menu-item" routerLink="/admin/passagens">
        <a class="menu-link">
            <mat-icon class="material-icons-outlined">article</mat-icon>Passagens
        </a>
    </li>

    <li class="menu-item" routerLink="/admin/clientes">
        <a class="menu-link">
            <mat-icon class="material-icons-outlined">account_box</mat-icon>Clientes
        </a>
    </li>

    <li class="menu-item" routerLink="/admin/usuarios">
        <a class="menu-link">
            <mat-icon class="material-icons-outlined">account_circle</mat-icon>Usuários
        </a>
    </li>

    <li class="menu-item" routerLink="/admin/locais">
        <a class="menu-link">
            <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>Locais home
        </a>
    </li>
</ul>

<router-outlet></router-outlet>