<div class="tituloListas">
    <h1 class="titulo-principal">Lista de clientes</h1>
    <button class="btnIncluir" routerLink="/admin/clientes/incluir" color="primary">
        <mat-icon class="material-icons-outlined">add</mat-icon>
    </button>
</div>
<table class="tabela" mat-table [dataSource]="clientes">

    <ng-container matColumnDef="codigo">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef> ID </th>
        <td class="container-texto" mat-cell *matCellDef="let cliente"> {{cliente.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef> Nome </th>
        <td class="container-texto" mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="idade">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef> Idade </th>
        <td class="container-texto" mat-cell *matCellDef="let cliente"> {{cliente.idade}} </td>
    </ng-container>

    <ng-container matColumnDef="saldoCarteira">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef> Saldo </th>
        <td class="container-texto" mat-cell *matCellDef="let cliente"> {{cliente.saldoCarteira | formatoReal}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef> E-mail Usuario </th>
        <td class="container-texto" mat-cell *matCellDef="let cliente"> {{cliente.usuario.email}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
        <th class="container-titulo" mat-header-cell *matHeaderCellDef style="text-align: center; padding-right: 35px"> Ações </th>
        <td class="ultima-coluna" mat-cell *matCellDef="let cliente">
            <a class="btnEditar" routerLink="/admin/clientes/editar/{{ cliente.codigo }}">
                <mat-icon class="material-icons-outlined">edit</mat-icon>
            </a>
            <a class="btnExcluir" routerLink="/admin/clientes/excluir/{{ cliente.codigo }}">
                <mat-icon class="material-icons-outlined">clear</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>